- content_for :stylesheet, stylesheet_link_tag('views/offers/index')
- content_for :javascript, javascript_include_tag('views/offers/index')

.row.justify-content-center
  .col-11

    .row
      .col-12
        %h2.text-center= t('.title')

    .row.row-cols-1.row-cols-lg-2.mt-4
      = render offers

    .row
      .col-12.mt-4
        = paginate offers
